.url-card {
  padding: 1em;
  margin: 0.5em 0;
  background: var(--demo-box-background);
  font-family: Rubik;
}

.url-card strong {
  color: var(--text-color);
}

.demo h4 {
  margin: 0;
  font-size: 1.2em;
  font-family: Rubik;
}

.wrapper > h4 {
  margin-top: 1em;
}

#resultsPlaceholder {
  font-style: italic;
}