@import "./theme.scss";

.darkTheme {
  color-scheme: dark;
  --demo-background: #{$demo-background-dark};
  --demo-box-background: #{$demo-box-background-dark};
  --content-background: #{$content-background-dark};
  --text-color: #{$text-color-dark};
  --label-color: #{$label-color-dark};
  --code-background: #{$code-background-dark};
  --input-background: #{$input-background-dark};
  --sidebar-background: #{$sidebar-background-dark};
  --sidebar-item-color: #{$sidebar-item-color-dark};
  --sidebar-group-color: #{$sidebar-group-color-dark};
  --input-placeholder: #{$input-placeholder-dark};
}
