@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';
@import '~bulma/sass/utilities/mixins.sass';

$header-background: #292524;
$header-link-color: #f1f5f9;
$header-link-hover-color: #f8fafc;
$header-height: 3.5rem;

$sidebar-background: #f1f5f9;
$sidebar-border-color: #d2dfde;
$content-background: #fafafa;

$demo-background: #ffffff;
$demo-box-background: #7dd3fc;
$text-color: #18181b;
$code-background: #ffffff;
$label-color: #1e293b;
$input-background: #ffffff;
$input-placeholder: #666666;
$sidebar-group-color: #4f46e5;
$sidebar-item-color: #475569;
$search-background: #57534e;

// Dark colors
$demo-background-dark: #000000;
$demo-box-background-dark: #082f49;
$content-background-dark: #18181b;
$text-color-dark: #fafafa;
$code-background-dark: #000000;
$label-color-dark: #94a3b8;
$input-background-dark: #000000;
$input-placeholder-dark: #666666;
$sidebar-background-dark: #0f172a;
$sidebar-group-color-dark: #a5b4fc;
$sidebar-item-color-dark: #e2e8f0;