@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

$header-background: #64748b;
$header-link-color: #f1f5f9;
$header-link-hover-color: #f8fafc;