@import "../styles/theme.scss";

.codeBlock {
  background: rgb(40, 42, 54);
  display: flex;
  flex-direction: column;
  padding: $size-6;
  margin: $size-5 0;
}

.copyButton {
  display: flex;
  align-items: center;
  width: 125px;
  visibility: hidden;

  &:global(.is-success) {
    visibility: visible;
  }

  .codeBlock:hover & {
    visibility: visible;
  }
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
}

:global(.tag).javascript {
  background-color: #FBEB81;
}

:global(.tag).html {
  background-color: #F1A693;
}
:global(.tag).css {
  background-color: #B1BFF5;
}