@import "../styles/theme.scss";

.navMenu {
  background: var(--sidebar-background);

  li > a {
    // color: red;
    color: var(--sidebar-item-color);
  }

  & :global(.menu-label) {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1em;
    font-weight: bold;
    color: var(--sidebar-group-color);
  }
}

.sizeLarge {
  & :global(.menu-label) {
    font-size: 1.25rem;
  }

  & a {
    font-size: 1.25rem;
  }
}
