@import "../styles/theme.scss";

.navMenu {
  background: $sidebar-background;

  & :global(.menu-label) {
    text-transform: none;
    letter-spacing: 0;
    margin: 0;
    font-weight: bold;
    color: #9259E8;
  }
}

.sizeLarge {
  & :global(.menu-label) {
    font-size: 1.25rem;
  }

  & a {
    font-size: 1.25rem;
  }
}
