@import "../styles/theme.scss";

.header {
  grid-area: header;
  background: $header-background;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.homeLink {
  text-decoration: none;
  color: $header-link-color;
  display: flex;
  align-items: center;

  &:hover {
    color: lighten($header-link-color, 20%);
  }
}