@import "../styles/theme.scss";

.header {
  grid-area: header;
  height: $header-height;
  background-color: $header-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
}

.homeLink {
  text-decoration: none;
  color: $header-link-color;
  display: flex;
  align-items: center;

  &:hover {
    color: lighten($header-link-color, 20%);
  }
}