@import "../styles/theme.scss";

input.searchInput {
  height: 2em;
  padding-left: 32px;
  border-radius: 99999px;
  border: none;
  background-color: $input-background-dark;
  color: $text-color-dark;
}

.icon {
  position: relative;
  z-index: 1;
  left: 28px;
}

:global(.box).resultsList {
  position: absolute;
  top: $header-height;
  right: 1em;
  background-color: #f9fafb;
  width: 25rem;
  border-radius: 5px;
}

.resultItem {
  width: 100%;
  background: white;
}
